@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter.ttf");
}

@font-face {
  font-family: "Material Icons";
  src: url("./assets/font/Inter-Italic.ttf");
}

@font-face {
  font-family: "Material Icons";
  src: url("./assets/font/mdi.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Material Icons Filled";
  src: url("./assets/font/mdi-filled.woff2") format("woff2");
  font-weight: normal;
}

.mdi{
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

.mdi-filled{
  font-family: "Material Icons Filled";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

.animate-floating {
  animation: floating 2s infinite;
}

.animate-fade-in {
  animation: fadeIn 0.5s forwards;
}

.animate-fade-out {
  animation: fadeOut 0.5s forwards;
}

.animate-float-left {
  animation: floatLeft 0.5s ease-in-out forwards;
}

.animate-sparkle {
  animation: sparkle-float linear infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes floatLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-30%);
    opacity: 0;
  }
}

@keyframes sparkle-float {
  0% { transform: translateY(0px) scale(1); opacity: inherit; } 
  50% { transform: translateY(-15px) scale(1.1); opacity: 0.9; }
  100% { transform: translateY(0px) scale(1); opacity: inherit; } 
}